.main__channel-title {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	max-width: 25rem;
}

@media (min-width: 48em) {
	.main__channel-title:hover > .main__channel-text--style {
		color: #FF0000;
	}
}

@media (max-width: 48em) {
	.main__channel-title {
		max-width: 100%;
	}
}