.main__recommended-title {
	display: block;
	max-width: 20rem;
}

@media (min-width: 48em) {
	.main__recommended-title:hover > .main__recommended-text{
		color: #FF0000;
	}
}

@media (max-width: 48em) {
	.main__recommended-title {
		max-width: 100%;
	}
}