.main__slide-title {
	@include font (700, 1.6rem, 125%);
	margin-bottom: .5rem;
	//max-width: 25rem;
}

@media (max-width: 48em) {
	.main__slide-title {
		font-size: 3.2rem;
		margin-bottom: .8rem;
	}
}