.main__channel-button-next {
	width: 2.8rem;
	height: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.main__channel-button-next > img {
	width: 1.12rem;
	height: 1.4rem;
}