.sidebar__user {
	display: flex;
	align-items: center;
}

.sidebar__user > span {
	@include font (400, 1.6rem, 125%);
}

.sidebar__user:not(:last-child) {
	margin-bottom: 2.3rem;
}

.sidebar__user:nth-child(1) {
	margin-bottom: 2.6rem;
}