.visibility {
	display: block;
}

.active {
	display: flex;
}

.active__button {
	display: block;
}

.noscroll {
	overflow: hidden !important;
	height: 100% !important;
}

@keyframes expand {
	0% {transform: translate(150%, 0);}
	100% {transform: translate(0, 0);}
}