.header__input--style {
	background: #EBEBEB url(../img/header/search.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 98%;
	background-size: 2rem; 
	color: #30384C;
	opacity: 0.4;
	border-radius: 2.2rem;
}