.header__link:hover > .icon {
	opacity: 1;
	fill: #FF0000;
}

.header__link:nth-child(3) {
	position: relative;
}

.header__link:nth-child(3)::after {
	position: absolute;
	content: '3';
	@include font (700, 1.2rem, 125%);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background-color: #FF0000;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	top: -.5rem;
	left: .9rem;
}