.main__recommended-slide-descriptions {
	@include font (400, 1.2rem, 125%);
	display: flex;
	justify-content: space-between;
	//max-width: 54rem;
}

@media (max-width: 48em) {
	.main__recommended-slide-descriptions {
		font-size: 2.6rem;
		width: 100%;
	}
}