.main__food-title {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	max-width: 50rem;
}

@media (min-width: 48em) {
	.main__food-title:hover > .main__food-text--style {
		color: #FF0000;
	}
}

.main__food-title > span {
	@include font (400, 1.6rem, 125%);
	margin-top: 1rem;
	color: #C2C2C2;
}

@media (max-width: 48em) {
	.main__food-title {
		max-width: 100%;
	}

	.main__food-title > span {
		display: none;
	}
}
