.sidebar__nav-hidden {
	display: none;
	animation: expand .5s ease-in-out 1;
}

.sidebar__nav-hidden > .sidebar__link:nth-child(1) {
	margin-bottom: 2.9rem;
}


.sidebar__nav-hidden > .sidebar__link:nth-child(2) {
	margin-bottom: 3.4rem;
}

.sidebar__nav-hidden > .sidebar__link:nth-child(3) {
	margin-bottom: 2.4rem;
}

.sidebar__nav-hidden > .sidebar__link:nth-child(4) {
	margin-bottom: 2.9rem;
}

.sidebar__nav-hidden > .sidebar__link:nth-child(5) {
	margin-bottom: 2.9rem;
}

.sidebar__nav-hidden > .sidebar__link:nth-child(6) {
	margin-bottom: 2.9rem;
}

.sidebar__nav-hidden > .sidebar__link:nth-child(7) {
	margin-bottom: 2.9rem;
}