.button__food-subscribe--style {
	color: #FFFFFF;
	background-color: #FF0000;
	border-radius: 2rem;
}

@media (min-width: 48em) {
	.button__food-subscribe--style:hover {
		background-color: #898989;
	}
}